$m: 1.6%; // margin-left
$mc: 12; // maximum columns
$cs: 1; // column span to initialise
$scw: (100 - ($m * ($mc - 1))) / $mc; // single column width

@mixin cw($cs) {
  width: ($scw * $cs) + ($m * ($cs - 1)); // column width
}

/*------------------------------*\
    Grid System
\*------------------------------*/

.row,
.column {
  box-sizing: border-box;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.column {
  position: relative;
  float: left;
  display: block;
}

.column + .column {
  margin-left: $m;
}

.column-3 {
  @include cw(3);
}

@media only screen and (max-width: 550px) {
  .column-3 {
    float: none;
    width: auto;
  }

  .column + .column {
    margin-left: 0;
  }
}

/*------------------------------*\
    Styling
\*------------------------------*/

.column {
//   background: #eee;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   color: #777;
  padding: 5px;
  min-height: 30px;
  text-align: center;
}

.row {
  margin-bottom: 10px;
}

.row:last-child {
  margin-bottom: 0;
}

// .column .column {
//   color: #eee;
//   background: #333;
//   border-color: #000;
// }

@media only screen and (max-width: 550px) {
  .row {
    margin-bottom: 0;
  }
  .column {
    margin-bottom: 10px;
  }
  .row:last-child .column:last-child {
    margin-bottom: 0;
  }
}
