#intro-screen {
    background-color: black;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

#typed-strings {
    text-align: center;
}

//   .intro-text {
//       opacity: 0;

//       &.intro-1 {

//           animation: fade-in 3s;
//           animation-timing-function: ease-in-out;
//         //   animation-iteration-count: 5;
//         //   animation-delay: 18s;
//         //   animation-direction: alternate;
//           animation-fill-mode: both;
//       }
//   }