@import 'projects';
@import 'contact';

.large-screen-wrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

#large-screen {
    display: none; // change back to none
    position: absolute;
    z-index: 2;
    background: url('/img/pc-bg-large.jpg');
    background-size: cover;
    animation: screen-enlarge 3s forwards;
}

@keyframes screen-enlarge {
    0% {
        width: 382px;
        height: 211px;
        transform: translate(-36%, -14%);
    }

    100% {
        width: 92.5vw;
        height: 88vh;
        transform: translate(0);
        box-shadow: 0 0 20px 6px #ffffff63;
    }
}

.top-bar {
    position: absolute;
    background: #303030;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskbar-large {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 30px;
    background: #00000054;
    color: #2c2c2c;
    font-size: 0.5em;
}

// #time {
//     position: absolute;
//     right: 10px;
//     top: 7px;
//     font-weight: 500;
//     font-size: 2em;
//     color: #303030;
// }



.hide-screen {
    position: absolute;
    background: #268BCF;
    width: 22px;
    height: 22px;
    right: 38px;
    font-size: 1em;
    // color: white;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-screen {
    position: absolute;
    background: #e33b3b;
    width: 22px;
    height: 22px;
    right: 10px;
    font-size: 1em;
    // color: white;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explorer-bar {
    position: absolute;
    background: #0000007a;
    width: 100%;
    height: 40px;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#explorer-url {
    position: absolute;
    background: white;
    color: #7a7a7a;
    height: 30px;
    display: flex;
    align-items: center;
    width: 98.5%;
    padding-left: 5px;
}

// .folders-large {
//     padding: 15px;
// }

// .folder-large {
//     position: absolute;
//     height: 20vh;
//     width: 24vw;
//     border-top-right-radius: 2px;
//     cursor: pointer;
//     box-shadow: inset -8px -6px 12px #9b9b9b;
//     animation: folder-enlarge 5s forwards;
// }

// @keyframes folder-enlarge {
//     0% {
//         display: none;
//         opacity: 0;
//     }

//     100% {
//         display: inherit;
//         opacity: 1;
//     }
// }

#back-button {
    display: none; // flex
    position: absolute;
    background: #515151;
    color: white;
    width: 51px;
    height: 23px;
    margin: 0px 10px;
    padding: 0 8px;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    left: 0;
}