.magnet-board {
    position: absolute;
    right: 240px;
    bottom: 60px;

    &__container {
        padding: 10px;
        height: 200px;
        background: white;
        box-shadow: inset -6px -7px 20px 0px #8f8f8f, -7px 3px 14px 1px #1c1b1b;
        border: 10px solid #202020;
    }

    // info
    // &:hover {
    //     content: "touch to move";
    //     position: absolute;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     // top: 0;
    //     // bottom: 0;
    //     // left: 0;
    //     // right: 0;
    //     font-weight: 500;
    //     color: #8b8b8b;
    // }

    &__hover {
        visibility: hidden;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-weight: 500;
        color: #8b8b8b;
        fill: #8b8b8b;
        z-index: 0;

    }

    &:hover &__hover {
        visibility: visible;
        animation: fade-out 4s forwards;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.draggable {
    width: auto;
    height: auto;
    border-radius: 10px;
    margin: 0 10px 10px 0;
    float: left;
    font-size: 2em;
    font-weight: 500;
    cursor: pointer;
    text-shadow: 2px 0px 0px #8d8d8d;
    color: #d7d7d7;
    z-index: 1;
}

.draggable.is-pointer-down {
    /*   background: #09F; */
    z-index: 2;
    /* above other draggies */
}

.draggable.is-dragging {
    opacity: 0.7;
}

.extra-letter {
    position: absolute;
    touch-action: none;
    left: 170px;
    top: 170px;
}