#screen-projects {
    margin-top: 70px;
    height: calc(88vh - 100px);
    // padding-top: 40px;
}

.project {
    position: absolute;
    background: red;
    height: 50px;
    width: 50px;
}

.folder {
    &-home {
        background: url('/img/home.jpg');
        background-size: cover;
    }

    &-a-kin {
        background: url('/img/a-kin.jpg');
        background-size: cover;
    }

    &-jd {
        background: url('/img/jd.jpg');
        background-size: cover;
    }

    &-ribbit {
        background: url('/img/ribbit.jpg');
        background-size: cover;
    }

    &-note {
        background: url('/img/note.jpg');
        background-size: cover;
    }

    &-git {
        background: url('/img/git.jpg');
        background-size: cover;
    }
}