@import 'reset';
@import 'home';
@import 'grid';
@import 'large-screen';

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

%pseudo {
  content: "";
  position: absolute;
}

%polaroid-text {
  position: absolute;
  bottom: -1px;
  font-family: 'Gochi Hand', cursive;
  font-size: 0.8em;
  text-align: center;
  width: 100%;
  // color: #82aeff;
}

// .d-none {
//   display: block; // set back to "none"
// }