@import 'reset';
@import 'home/home';
@import 'queries';
@import 'dev';

// @import 'bg/books';
// @import 'bg/magnet';
// @import 'bg/calendar';
// @import 'bg/photos';
// @import 'bg/plant';
// @import 'bg/notes';
// @import 'bg/headphones';
// @import 'bg/lamp';
// @import 'bg/coffee';
// @import 'bg/hub';

$shadow: 10px -7px 4px 0px #00000038;



body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

a {
  text-decoration: none;
}

%pseudo {
  content: "";
  position: absolute;
}

%polaroid-text {
  position: absolute;
  bottom: -1px;
  font-family: 'Gochi Hand', cursive;
  font-size: 0.8em;
  text-align: center;
  width: 100%;
  // color: #82aeff;
}

.d-none {
  display: none;
}

noscript {
  z-index: 1;
  position: absolute;
  top: 0;
  font-size: 5em;
  background: #ffffffe0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.copyright {
  color: #575757;
  font-family: 'Gochi Hand', cursive;
  right: 5px;
  position: absolute;
  bottom: 2px;
  font-size: 0.9em;
}


// .black-screen {
//     position: absolute;
//     width: 100vw;
//     height: 100vh;
//     background: black;
//     top: 0;
//     left: 0;
//     z-index: 1;
// }