//------ Coffee Mug ----- //
.mug-container {
    position: absolute;
    top: calc(100vh - 137px);
    right: 40%;
}

.mug {
    position: absolute;
    width: 60px;
    height: 49px;
    background: #e5e5e5;
    border-radius: 9px 13px 48% 48%;
    box-shadow: inset -8px 3px 7px 0px #130400, 9px 10px 13px 4px #090909, 20px -4px 10px 2px #00000069, inset -9px 5px 20px 0px #000000;
    z-index: 2;
    top: 25px;
    left: -1px;

    // &::before {
    //     @extend %pseudo;
    //     width: 55px;
    //     height: 21px;
    //     background: #a5a5a5;
    //     top: -6px;
    //     border-radius: 100%;
    //     right: 3px;
    // }

    &--handle {
        position: absolute;
        width: 14px;
        height: 30px;
        background: #ffffff;
        right: -12px;
        z-index: 0;
        border-radius: 0 100px 100px 0;
        top: 7px;
        box-shadow: inset -1px 1px 7px 0px #000000, 2px -1px 1px 0px #a9a9a9;
        transform: rotate(1deg);

        &::after {
            @extend %pseudo;
            width: 11px;
            height: 18px;
            background: linear-gradient(45deg, black, transparent);
            border-radius: 39px 197px 207px 51px;
            top: 6px;
            box-shadow: 0px 0px 11px 2px #050202;
        }
    }


    // &--text {
    //     font-size: 0.65em;
    //     margin-top: 18px;
    //     border: 1px solid #7c7c7c;
    //     width: 40px;
    //     height: 40px;
    //     margin-left: 6px;
    // }
}


#coffee {
    position: absolute;
    width: 52px;
    height: 18px;
    top: -5px;
    box-shadow: inset 1px 1px 3px 0px #150000, inset 2px 5px 10px 6px #a33c00;
    border-radius: 100%;
    left: 2px;
    border: 1px solid #a5a5a5;
    background-image: url('../img/coffee.png');
    background-size: cover;
}

.drink {
    animation: drink-coffee 10s forwards; //this
}



.saucer {
    position: absolute;
    width: 100px;
    height: 64px;
    background: #ffffff;
    border-radius: 100%;
    top: 23px;
    left: -20px;
    box-shadow: inset 0 0 20px 10px #787878, 2px 5px 5px 0px #131313, inset 13px 0px 12px 3px #000000, inset 5px 9px 3px 9px #ffffff;
    border: 2px solid #0d0503bf;
    z-index: 1;
}

.spoon {
    position: absolute;
    width: 66px;
    height: 6px;
    background: #dbdbdb;
    bottom: -80px;
    left: -18px;
    transform: rotate(45deg);
    box-shadow: inset 5px -1px 0px 0px #0f0f0f, -3px 4px 3px 0px #0f0f0f;
    border-radius: 0 100% 50px 0px;
    border-top: 2px solid #ededed;
    z-index: 1;

    &::before {
        @extend %pseudo;
        width: 24px;
        height: 14px;
        background: #c6c6c6;
        border-radius: 100%;
        top: -8px;
        left: -8px;
        z-index: 1;
        box-shadow: 0px 2px 2px 0px #747474;
    }

    &::after {
        @extend %pseudo;
        width: 28px;
        height: 21px;
        // background: black;
        border-radius: 100%;
        top: -10px;
        left: -9px;
        box-shadow: inset 3px -5px 10px 20px #2c2a2a, 1px 7px 11px 0px #090909;
        border: 1px solid #727272;
    }
}

// .steam-group {
//     position: absolute;
//     right: 29%;
//     bottom: 135px;
// }

// .steam {
//     position: absolute;
//     height: 150px;
//     width: 150px;
//     border-radius: 50%;
//     background-color: #fff;
//     margin-top: -75px;
//     margin-left: 75px;
//     z-index: 0;
//     opacity: 0;
// }

// #steam-one {
//     -webkit-animation: steam-one 4s ease-out infinite;
//     animation: steam-one 4s ease-out infinite;
// }

// #steam-three {
//     -webkit-animation: steam-one 4s ease-out 1s infinite;
//     animation: steam-one 4s ease-out 1s infinite;
// }

// @-webkit-keyframes steam-one {
//     0% {
//         transform: translateY(0) translateX(0) scale(0.25);
//         opacity: 0.2;
//     }

//     100% {
//         transform: translateY(-200px) translateX(-20px) scale(1);
//         opacity: 0;
//     }
// }

// @keyframes steam-one {
//     0% {
//         transform: translateY(0) translateX(0) scale(0.25);
//         opacity: 0.2;
//     }

//     100% {
//         transform: translateY(-200px) translateX(-20px) scale(1);
//         opacity: 0;
//     }
// }

// #steam-two {
//     -webkit-animation: steam-two 4s ease-out 0.5s infinite;
//     animation: steam-two 4s ease-out 0.5s infinite;
// }

// #steam-four {
//     -webkit-animation: steam-two 4s ease-out 1.5s infinite;
//     animation: steam-two 4s ease-out 1.5s infinite;
// }

// @-webkit-keyframes steam-two {
//     0% {
//         transform: translateY(0) translateX(0) scale(0.25);
//         opacity: 0.2;
//     }

//     100% {
//         transform: translateY(-200px) translateX(20px) scale(1);
//         opacity: 0;
//     }
// }

// @keyframes steam-two {
//     0% {
//         transform: translateY(0) translateX(0) scale(0.25);
//         opacity: 0.2;
//     }

//     100% {
//         transform: translateY(-200px) translateX(20px) scale(1);
//         opacity: 0;
//     }
// }

//------ /Coffee Mug ----- //


// coffee cup
.coffee-cup {
    position: absolute;
    right: 458px;
    bottom: -79px;
    -webkit-perspective: 100px;
    /* Safari 4-8  */
    perspective: 100px;
}

.coffee-cup-main {

    background: #e6e6e6;
    height: 70px;
    width: 60px;

    box-shadow: inset -10px 10px 20px 0px #3b3b3b;
    -webkit-transform-style: preserve-3d;
    /* Safari 3-8  */
    -webkit-transform: rotateX(45deg);
    /* Safari 3-8  */
    transform-style: preserve-3d;
    transform: rotateX(-12deg);
    // border-bottom-right-radius: 20%;
    // border-bottom-left-radius: 20%;

    &::before {
        position: absolute;
        content: "";
        width: 0px;
        height: 0;
        border-left: 0px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 100px solid #242424;
    }

    &::after {
        position: absolute;
        content: "";
        width: 0px;
        height: 0;
        border-left: 9px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 100px solid #242424;
        right: 0;
    }

    img {
        width: 60%;
        height: 100%;
    }
}

.coffee-cup-topbottom {
    position: absolute;
    background: #d1d1d1;
    width: 64px;
    height: 14px;
    top: -15px;
    left: -2px;
    border-top-left-radius: 62%;
    border-top-right-radius: 15px;
    border-bottom: 1px solid #bababa;

    &::before {
        position: absolute;
        content: "";
        background: #bfbfbf;
        width: 70px;
        height: 8px;
        top: 15px;
        left: -3px;
        box-shadow: inset 0px 2px 0px 0px #cfcfcf, inset 0px 6px 3px 0px #9a9a9a, inset 0px 33px 0px 0px #a8a8a8;
        border-radius: 3px 3px 0 0;
    }


    // bottom part
    &::after {
        position: absolute;
        content: "";

        width: 44px;
        height: 8px;
        bottom: -72px;
        left: 10px;
        border-radius: 100%;
        background: rgb(211, 211, 211);
        background: -moz-linear-gradient(90deg, rgbrgb(211, 211, 211) 67%, rgb(131, 131, 131) 100%);
        background: -webkit-linear-gradient(90deg, rgb(211, 211, 211) 67%, rgb(131, 131, 131) 100%);
        background: linear-gradient(90deg, rgb(211, 211, 211) 67%, rgb(131, 131, 131) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d3d3d3", endColorstr="#838383", GradientType=1);
    }


}