@import 'books';
@import 'coffee';
@import 'hub';
@import 'lamp';
@import 'plant';
@import 'pc/pc';

.desk {
    position: fixed;
    bottom: 0;
    width: 92vw;
    height: 130px;
    // clip-path: polygon(90% 0, 100% 100%, 0 100%, 0 0);
    // transform: skewX(50deg);
    // left: -123px;
    // box-shadow: inset -20px -2px 20px 15px #0000002e;
    // box-shadow: inset 2px 10px 20px 0px #262626;
    background: rgb(34, 31, 31);
    background: -moz-linear-gradient(90deg, #131313 0%, #2a2a2a 100%);
    background: -webkit-linear-gradient(90deg, #131313 0%, #2a2a2a 100%);
    background: linear-gradient(90deg, #131313 0%, #2a2a2a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#131313", endColorstr="#2a2a2a", GradientType=1);

    &::after {
        @extend %pseudo;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 139px 10vw 0 10vw;
        border-color: transparent transparent transparent #2a2a2a;
        right: -20vw;
    }

    &--bottom {
        @extend %pseudo;
        width: 100%;
        height: 20px;
        bottom: 0;
        box-shadow: inset 0px 5px 10px 0px #000000;
        background: #1c1c1c;
    }
}