// @import '../../animations';

//------ HUB----- //
.hub {
    position: absolute;
    // background: #4b4b4b;
    background: #151515;
    width: 170px;
    height: 108px;
    top: calc(100vh - 170px);
    left: 140px;
    border-radius: 10px;
    // box-shadow: 4px -3px 14px 0px #202020;
    box-shadow: 17px -13px 20px 0px #00000073, inset 0 0px 0px 10px #3a3a3a;
    // z-index: 0;
    z-index: 1;

    &--speakers {
        position: absolute;
        background: #848484;
        width: 8px;
        height: 5px;
        left: 80px;
        top: 2.5px;
        border-radius: 5px;
        box-shadow: inset 0px 1px 0px #2e2e2e;

        &::before {
            @extend %pseudo;
            background: #848484;
            width: 6px;
            height: 3px;
            border-radius: 5px;
            left: -30px;
            top: 1px;
        }

        &::after {
            @extend %pseudo;
            background: #848484;
            width: 6px;
            height: 3px;
            border-radius: 5px;
            right: -30px;
            top: 1px;
        }
    }

    &--screen {
        position: absolute;
        width: 150px;
        height: 89px;
        left: 10px;
        top: 10px;
        border-radius: 2px;
        // border: 1px solid #979797;
        /* border-radius: 5px; */
        // border: 1px solid #2c2c2c;
        // padding: 5px;
        // opacity: 0;

        // animation: fade-in 2s;
        // animation-timing-function: ease-in-out;
        // animation-delay: 3s;
        // animation-iteration-count: 1;
        // animation-direction: alternate;
        // animation-fill-mode: both;
    }

    &::after {
        @extend %pseudo;
        background: #3a3a3a;
        width: 110px;
        height: 13px;
        bottom: -13px;
        left: 30px;
        border-radius: 0 0 40px 40px;
        box-shadow: inset 2px 5px 0px #0d0c0c6b;
    }

    &--weather {
        display: flex;
        height: 87%;
        padding: 5px;
    }

    &--welcome {
        opacity: 0;
        position: absolute;
        top: 3px;
        left: 5px;
        color: white;
        text-shadow: 0 0 20px #3f3f3f;
        font-size: 1.1em;
        animation: hub-welcome 2s forwards;
    }

    &--day {
        position: absolute;
        right: 5px;
        bottom: 3px;
        font-size: 3em;
        color: white;
        text-shadow: 0 0 20px #3f3f3f;
    }

    &--slides {
        width: inherit;
        height: inherit;
        background-size: contain;
        position: absolute;

        // &.slide-1 {
        //     background-image: url('/img/hub-day.png');
        // }

        // &.slide-2 {
        //     opacity: 0;
        //     background-image: radial-gradient(farthest-corner at 153px 13px, #fff 0%, #338fee 100%);

        //     animation: hub-screen 40s;
        //     animation-timing-function: ease-in-out;
        //     animation-iteration-count: 5;
        //     animation-delay: 10s;
        //     animation-direction: alternate;
        //     animation-fill-mode: both;
        // }

        // &.slide-3 {
        //     opacity: 0;
        //     background: lightgrey;

        //     animation: hub-screen 40s;
        //     animation-timing-function: ease-in-out;
        //     animation-iteration-count: 5;
        //     animation-delay: 18s;
        //     animation-direction: alternate;
        //     animation-fill-mode: both;
        // }

        // &.slide-4 {
        //     opacity: 0;
        //     background: lightgrey;

        //     animation: hub-screen 40s;
        //     animation-timing-function: ease-in-out;
        //     animation-iteration-count: 5;
        //     animation-delay: 26s;
        //     animation-direction: alternate;
        //     animation-fill-mode: both;
        // }
    }

    &--weather-cond {
        position: absolute;
        top: 4px;
        left: 5px;
        color: white;
    }

    &--weather-temp {
        position: absolute;
        right: 5px;
        bottom: 5px;
        color: white;
        font-size: 3em;
    }
}

.fa-sun {
    color: #fad318;
    font-size: 2.5em;
}

#weather-temp {
    font-size: 3em;
}

#weather-cond {
    font-size: 0.8em;
}







.slideshow-container {
    // max-width: 100%;

    img {
        width: 100%;
    }
}

.mySlides {
    position: absolute;
    width: 100%;
    height: 100%;

    &:nth-child(2) {
        p {
            position: absolute;
            top: 21px;
            left: 5px;
            font-size: 10px;
            color: #eaeaea;
        }

        // background-image: radial-gradient(farthest-corner at 153px 13px, #fff 0%, #338fee 100%);
    }

    &:nth-child(3) {
        background-color: white;
        align-items: center;
        justify-content: space-evenly;
    }
}

.hub--calendar,
.hub--music {
    width: 55px;
    height: 65px;
    border-radius: 5px;
    padding: 5px;
    background: white;
    box-shadow: 0 0 20px 0px #a7a7a7;

    p {
        display: flex;
        font-size: 7px;
        color: #3f3f3f;
        align-items: center;
        // padding: 3px;
    }
}

.hub--calendar {
    .calendar-item {
        padding: 6px 0;

        &-date {
            font-size: 7px;
        }

        &-task {
            font-size: 8px;
        }
    }
}

.hub--music {
    p {
        padding-bottom: 5px;

        img {
            width: 7px;
            padding-right: 2px;
        }
    }
}

.track-info {
    display: flex;
    align-items: center;
    font-size: 9px;
    padding: 3px 0;

    .album {
        img {
            width: 20px;
        }
    }

    .artist {
        color: #666666;
        font-size: 8px;
    }

    .track {
        font-size: 6px;
        padding-left: 2px;
    }
}

// .text {
//     color: #f2f2f2;
//     font-size: 15px;
//     padding: 8px 12px;
//     position: absolute;
//     bottom: 8px;
//     width: 100%;
//     text-align: center;
// }

// .active {
//     background-color: red;
// }

.fade {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    from {
        opacity: 0.1
    }

    to {
        opacity: 1
    }
}

// //DEV ONLY
// #weather-slide {
//     display: flex !important;
//     z-index: 99;
// }