// @import '../../animations';

//------ HUB----- //
.hub {
    position: absolute;
    // background: #4b4b4b;
    background: #151515;
    width: 170px;
    height: 111px;
    top: calc(100vh - 170px);
    left: 140px;
    border-radius: 10px;
    // box-shadow: 4px -3px 14px 0px #202020;
    box-shadow: 17px -13px 20px 0px #00000073, inset 0 0px 0px 10px #3a3a3a;
    // z-index: 0;
    z-index: 1;

    &--speakers {
        position: absolute;
        background: #848484;
        width: 8px;
        height: 5px;
        left: 80px;
        top: 2.5px;
        border-radius: 5px;
        box-shadow: inset 0px 1px 0px #2e2e2e;

        &::before {
            @extend %pseudo;
            background: #848484;
            width: 6px;
            height: 3px;
            border-radius: 5px;
            left: -30px;
            top: 1px;
        }

        &::after {
            @extend %pseudo;
            background: #848484;
            width: 6px;
            height: 3px;
            border-radius: 5px;
            right: -30px;
            top: 1px;
        }
    }

    &--screen {
        position: absolute;
        width: 150px;
        height: 89px;
        left: 10px;
        top: 11px;
        border-radius: 2px;
        // border: 1px solid #979797;
        /* border-radius: 5px; */
        // border: 1px solid #2c2c2c;
        // padding: 5px;
        // opacity: 0;

        animation: fade-in 2s;
        animation-timing-function: ease-in-out;
        animation-delay: 3s;
        animation-iteration-count: 1;
        animation-direction: alternate;
        animation-fill-mode: both;
    }

    &::after {
        @extend %pseudo;
        background: #3a3a3a;
        width: 110px;
        height: 13px;
        bottom: -13px;
        left: 30px;
        border-radius: 0 0 40px 40px;
        box-shadow: inset 2px 5px 0px #0d0c0c6b;
    }

    &--weather {
        display: flex;
        height: 87%;
        padding: 5px;
    }

    &--welcome {
        opacity: 0;
        position: absolute;
        top: 3px;
        left: 5px;
        color: white;
        text-shadow: 0 0 20px #3f3f3f;
        // width: 98%;
        font-size: 1.1em;

        animation: hub-welcome 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-delay: 3s;
        // animation-direction: alternate;
        animation-fill-mode: both;
    }

    &--day {
        position: absolute;
        right: 5px;
        bottom: 3px;
        font-size: 3em;
        color: white;
        text-shadow: 0 0 20px #3f3f3f;
    }

    &--slides {
        width: inherit;
        height: inherit;
        background-size: contain;
        position: absolute;

        &.slide-1 {
            background-image: url('/img/hub-day.png');
        }

        &.slide-2 {
            background-image: radial-gradient(farthest-corner at 153px 13px, #fff 0%, #338fee 100%);
        }

        &.slide-3 {
            background: lightgrey;
        }
    }

    &--weather-cond {
        position: absolute;
        top: 4px;
        left: 5px;
        color: white;
    }

    &--weather-temp {
        position: absolute;
        right: 5px;
        bottom: 5px;
        color: white;
        font-size: 3em;
    }
}

.fa-sun {
    color: #fad318;
    font-size: 2.5em;
}

#weather-temp {
    font-size: 2em;
}

#weather-cond {
    font-size: 0.8em;
}