.pc-tower {
    position: absolute;
    background: linear-gradient(45deg, black, #262626);
    height: 330px;
    width: 146px;
    top: calc(100vh - 364px);
    left: calc(30vw + 390px);
    box-shadow: inset 7px -3px 14px 0px black, 3px -13px 13px 0px #0e0e0e6e;
    border: 2px solid #3f0000;
    border-bottom: 0;

    &::after {
        content: "ZTXN";
        position: absolute;
        width: 100%;
        text-align: center;
        top: 9px;
        color: #ececec;
        text-shadow: 0 0 4px white;
    }
}