.plant {
    position: absolute;
    background: #143c11;
    height: 57px;
    width: 50px;
    right: 350px;
    bottom: -70px;
    border-radius: 35% 34% 20px 20px;
    box-shadow: inset -2px -20px 8px 10px #190a02;
    border: 1px solid black;

    &::before {
        @extend %pseudo;
        background: #202020;
        width: 3px;
        height: 4px;
        top: 26px;
        right: 9px;
        border-radius: 100% 0 100% 0;
        transform: rotate(-39deg);
        box-shadow: 1px 0px 4px 4px #202020;
    }

    &::after {
        @extend %pseudo;
        background: #0f0f0f;
        width: 40px;
        height: 17px;
        border-radius: 100%;
        top: -5px;
        left: 5px;
    }

    .leaf {
        position: absolute;
        background: #1f8019;
        height: 70px;
        z-index: 1;
        border-radius: 0 110% 0 100%;
        box-shadow: inset 1px 6px 4px 3px #162c02;
    }

    .leaf-1 {
        top: -64px;
        left: 16px;
        width: 12px;
        transform: rotate(0deg);
    }

    .leaf-2 {
        top: -64px;
        left: 34px;
        width: 15px;
        transform: rotate(29deg);
    }

    .leaf-3 {
        top: -63px;
        left: 4px;
        width: 13px;
        transform: rotate(-11deg);
    }

    .leaf-4 {
        height: 60px;
        top: -52px;
        left: -4px;
        width: 13px;
        transform: rotate(-16deg);
    }

    .leaf-5 {
        top: -65px;
        left: 18px;
        width: 18px;
        transform: rotate(14deg);
    }

    .leaf-6 {
        top: -52px;
        left: 45px;
        width: 11px;
        transform: rotate(36deg);
        height: 60px;
    }

    .leaf-7 {
        top: -36px;
        left: 25px;
        width: 19px;
        transform: rotate(37deg);
        height: 41px;
    }
}