.note {
    position: absolute;
    background: #dfba35;
    width: 50px;
    height: 43px;
    right: 37%;
    top: calc(100vh - 270px);
    border-radius: 1px;
    box-shadow: 8px 3px 8px #766c38;
    border-bottom: 2px solid #93820b;
    transform: rotate(-2deg);
    font-size: 0.56em;
    font-family: 'Gochi Hand', cursive;
    padding: 6px;

    li {
        padding-bottom: 3px;
    }

    // &::after {
    //     @extend %pseudo;
    //     width: 62px;
    //     height: 3px;
    //     bottom: 0px;
    //     right: -2px;
    //     background: linear-gradient(180deg, #b29839e0 30px, #f3f1e2 0);
    // }
}