.shelf {
    position: absolute;
    left: calc(30vw + 240px);
    top: calc(100vh - 500px);
    background: white;
    height: 20px;
    width: 450px;
    box-shadow: inset 3px -3px #bbbbbb;
}