#light-switch {
    z-index: 1;
    position: absolute;
    background: linear-gradient(0deg, #959595, #cacaca);
    width: 22px;
    height: 40px;
    right: 165px;
    top: 190px;
    box-shadow: inset 0px -3px 2px #262626;
    cursor: pointer;
    border: 15px solid #727272;
    border-radius: 3px;
}