@import 'notes';
@import 'poster';

.bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: -webkit-radial-gradient(circle, rgb(83, 109, 161) 0%, rgba(0, 0, 0, 1) 100%);
}