#screen-about {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0.59) 0%, rgba(0, 80, 158, 0.68) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.59) 0%, rgba(0, 80, 158, 0.68) 100%);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.59) 0%, rgba(0, 80, 158, 0.68) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#00509e", GradientType=1);

    display: flex;
    flex-direction: column;
    font-size: 2em;
    color: white;
    overflow-y: auto;
    position: relative;
    height: calc(88vh - 70px);

    h2 {
        text-align: center;
        padding: 20px 0;
    }

    img {
        position: absolute;
        height: calc(88vh - 77px);
        width: 20%;
        left: 0;
    }
}

.about-container {
    margin-left: 20%;
    margin-top: 10px;
    line-height: 1.5;

    ul {
        font-size: 26px;
        font-style: italic;
        padding: 30px 0;
        line-height: 53px;
    }

    span {
        float: right;
    }
}

.about-social {
    // text-align: right;
    // position: fixed;
    // bottom: 0;
    // right: 0;
    // padding: 4px 25px;

    &--links {
        opacity: 0.2;

        svg {
            width: 60px;
        }
    }
}