#screen-about {
    font-size: 2em;

    h2 {
        text-align: center;
        padding: 20px 0;
        font-size: 1.5em;
    }

    .man {
        position: absolute;
        height: calc(88vh - 77px);
        width: 20%;
        left: 0;
    }

    img {
        width: 65px;
    }
}

.about-container {
    margin-left: 20%;
    margin-top: 10px;
    line-height: 1.5;

    ul {
        font-size: 26px;
        font-style: italic;
        padding: 30px 0;
        line-height: 53px;
    }

    span {
        float: right;
    }
}

.about-social {
    &--links {
        opacity: 0.2;

        svg {
            width: 60px;
        }
    }
}