@import 'large-grid';
@import 'projects';
@import 'about';
@import 'skills';
@import 'contact';

// large-screen div
// -- screen-home
// -- screen-projects 
// -- screen-about 
// -- screen-skills
// -- screen-contact

.large-screen-wrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

#large-screen {
    display: none; // change back to none
    position: absolute;
    z-index: 2;
    background: url('/img/pc-bg-large.jpg');
    background-size: cover;
    animation: screen-enlarge 3s forwards;

}

.top-bar {
    display: none;

    &.extended {
        position: absolute;
        background: #303030;
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.taskbar-large {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 30px;
    background: #00000054;
    color: #2c2c2c;
    font-size: 0.5em;
}

// #time {
//     position: absolute;
//     right: 10px;
//     top: 7px;
//     font-weight: 500;
//     font-size: 2em;
//     color: #303030;
// }



.hide-screen-icon {
    position: absolute;
    // background: #268BCF;
    color: white;
    width: 22px;
    height: 22px;
    right: 38px;
    font-size: 1em;
    // color: white;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:active {
        background: #414141;
    }
}

.close-screen-icon {
    position: absolute;
    background: #e33b3b;
    color: white;
    width: 22px;
    height: 22px;
    right: 10px;
    font-size: 1em;
    // color: white;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:active {
        background: #b83131;
    }
}

.explorer-bar {
    display: none;

    &.extended {
        position: absolute;
        background: #0000007a;
        width: 100%;
        height: 40px;
        top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#explorer-url {
    position: absolute;
    background: white;
    color: #7a7a7a;
    height: 30px;
    display: flex;
    align-items: center;
    width: 96.5%;
    padding-left: 5px;
    right: 0px;
    margin-right: 5px;
}

// .folders-large {
//     padding: 15px;
// }

// .folder-large {
//     position: absolute;
//     height: 20vh;
//     width: 24vw;
//     border-top-right-radius: 2px;
//     cursor: pointer;
//     box-shadow: inset -8px -6px 12px #9b9b9b;
//     animation: folder-enlarge 5s forwards;
// }

// @keyframes folder-enlarge {
//     0% {
//         display: none;
//         opacity: 0;
//     }

//     100% {
//         display: inherit;
//         opacity: 1;
//     }
// }

#back-button {
    position: absolute;
    width: 3%;
    height: 30px;
    // margin: 0px 10px;
    // padding: 0px 8px;
    cursor: pointer;
    left: 0;
    justify-content: center;
    display: flex;
    font-size: 28px;
    color: #ffffff;

    &:hover,
    &:active {
        background: #0000005c;
    }
}

#screen-home,
#screen-projects,
#screen-about,
#screen-skills,
#screen-contact {
    margin-top: 70px;
    height: calc(88vh - 70px);
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
}

#project-tiles,
#skills-tiles,
#screen-projects,
#screen-skills {
    display: none; // to be 'grid'
}

// .skills-icon-container {
//     display: flex;
//     width: 31%;
//     justify-content: center;
// }

#screen-skills {
    background: rgb(137, 59, 0);
    background: -moz-linear-gradient(0deg, rgba(137, 59, 0, 0.51) 0%, rgba(255, 0, 0, 0.68) 100%);
    background: -webkit-linear-gradient(0deg, rgba(137, 59, 0, 0.51) 0%, rgba(255, 0, 0, 0.68) 100%);
    background: linear-gradient(0deg, rgba(137, 59, 0, 0.51) 0%, rgba(255, 0, 0, 0.68) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#893b00", endColorstr="#ff0000", GradientType=1);
}

#skills-tiles img {
    width: 35%;
}