// NEW SIMPLIFIED
.large-grid-container {
    display: grid; //change back to none, transforms into grid using animation
    justify-items: center;
    align-items: center;
    height: calc(88vh - 100px);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background: rgba(114, 186, 94, 0.05);
    animation: projects-enlarge 5s forwards;
  }