/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bg {
  position: absolute;
  background-color: #ffcb95;
  width: 100vw;
  height: 96vh;
  background: #9b7854;
  background: -webkit-gradient(linear, left top, right top, from(#9b7854), color-stop(34%, #f1ba81));
  background: linear-gradient(90deg, #9b7854 0%, #f1ba81 34%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9b7854", endColorstr="#f1ba81", GradientType=1);
}

.bg::before {
  right: 0;
  background-color: #f1ba81;
  width: 8.1vw;
  height: 100vh;
  -webkit-box-shadow: -20px -13px 20px #0000005c;
          box-shadow: -20px -13px 20px #0000005c;
  background: #9b7854;
  background: -webkit-gradient(linear, left top, right top, from(#9b7854), color-stop(34%, #f1ba81));
  background: linear-gradient(90deg, #9b7854 0%, #f1ba81 34%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9b7854", endColorstr="#f1ba81", GradientType=1);
}

.desk {
  position: fixed;
  bottom: 0;
  background: #7c4d31;
  width: 102vw;
  height: 105px;
  -webkit-clip-path: polygon(90% 0, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(90% 0, 100% 100%, 0 100%, 0 0);
  -webkit-box-shadow: inset -20px -2px 20px 15px #0000002e;
          box-shadow: inset -20px -2px 20px 15px #0000002e;
  background: #7c4d31;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(70%, #7c4d31), to(#5e3c28));
  background: linear-gradient(0deg, #7c4d31 70%, #5e3c28 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7c4d31", endColorstr="#5e3c28", GradientType=1);
}

.desk--bottom {
  background: #53342b;
  width: 100%;
  height: 20px;
  bottom: 0;
  -webkit-box-shadow: inset 4px 6px 9px 0px #00000096;
          box-shadow: inset 4px 6px 9px 0px #00000096;
}

.pc {
  position: absolute;
  background: black;
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, black), to(#2e2e2e));
  background: linear-gradient(90deg, black 70%, #2e2e2e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#2e2e2e", GradientType=1);
  width: 400px;
  height: 230px;
  left: 28vw;
  bottom: 140px;
  z-index: 1;
  -webkit-box-shadow: 10px -7px 4px 0px #00000038;
          box-shadow: 10px -7px 4px 0px #00000038;
  border-radius: 4px;
}

.pc::after {
  background-color: white;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  left: 198px;
  bottom: 0px;
  -webkit-box-shadow: inset -3px -3px 9px 0px #c40d0d;
          box-shadow: inset -3px -3px 9px 0px #c40d0d;
}

.pc--screen {
  position: absolute;
  background-color: white;
  width: 380px;
  height: 210px;
  -webkit-transform: translate(10px, 10px);
          transform: translate(10px, 10px);
  -webkit-box-shadow: 0 0 6px 0px white;
          box-shadow: 0 0 6px 0px white;
}

.pc--keyboard {
  position: absolute;
  background: url("../img/keyboard.jpg");
  background-size: contain;
  width: 198px;
  height: 67px;
  bottom: -130px;
  right: 100px;
  -webkit-box-shadow: 6px -4px 8px #00000094;
          box-shadow: 6px -4px 8px #00000094;
}

.pc--stand {
  position: absolute;
  background: inherit;
  width: 30px;
  height: 70px;
  -webkit-transform: translate(187px, 229px);
          transform: translate(187px, 229px);
  -webkit-box-shadow: 10px -7px 4px 0px #00000038;
          box-shadow: 10px -7px 4px 0px #00000038;
}

.pc--stand::after {
  background: inherit;
  width: 138px;
  height: 100px;
  bottom: -59px;
  left: -56px;
  border-radius: 4px 4px 2px 2px;
  -webkit-clip-path: ellipse(45% 22% at 50% 44%);
          clip-path: ellipse(45% 22% at 50% 44%);
}

.pc--stand::before {
  background: black;
  width: 138px;
  height: 87px;
  bottom: -59px;
  left: -56px;
  border-radius: 4px 4px 2px 2px;
  -webkit-clip-path: ellipse(45% 22% at 50% 44%);
  clip-path: ellipse(45% 24% at 50% 41%);
}

.calendar {
  position: absolute;
  background: white;
  width: 180px;
  height: 360px;
  left: 150px;
  top: calc(100vh - 520px);
}

.calendar__item {
  position: absolute;
}

.calendar__item--top {
  width: 180px;
  height: 180px;
  background: url("../img/waves.jpg");
  background-size: cover;
}

.calendar__item--bottom {
  width: 180px;
  height: 180px;
  bottom: 0;
  background: inherit;
}

.month {
  position: absolute;
  right: 0;
  padding: 10px;
  font-size: 10px;
}

.photos__item {
  position: absolute;
  background: white;
  width: 50px;
  height: 50px;
}

.photos__item .image {
  position: absolute;
  background: #85bad9;
  width: 42px;
  height: 37px;
  left: 4px;
  top: 3px;
}

.photos .photo-1 {
  right: 380px;
  top: 30px;
}

.photos .photo-2 {
  right: 470px;
  top: 40px;
}

.photos .photo-3 {
  right: 290px;
  top: 54px;
}

.hub {
  position: absolute;
  background: green;
  width: 200px;
  height: 100px;
  top: calc(100vh - 140px);
  left: 140px;
}

.bg::before, .desk--bottom, .pc::after, .pc--stand::after, .pc--stand::before {
  content: "";
  position: absolute;
}
/*# sourceMappingURL=main.css.map */