/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bg {
  position: absolute;
  width: 100vw;
  height: 96vh;
  background: #5d5750;
  background: -webkit-gradient(linear, left top, right top, from(#5d5750), color-stop(34%, #b4b4b4));
  background: linear-gradient(90deg, #5d5750 0%, #b4b4b4 34%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5d5750", endColorstr="#b4b4b4", GradientType=1);
}

.bg::before {
  right: 0;
  width: 8.1vw;
  height: 100vh;
  -webkit-box-shadow: -20px -13px 20px #2c2c2c5c;
          box-shadow: -20px -13px 20px #2c2c2c5c;
  background: #5d5750;
  background: -webkit-gradient(linear, left top, right top, from(rgba(93, 87, 80, 0.516141)), color-stop(34%, #b4b4b4));
  background: linear-gradient(90deg, rgba(93, 87, 80, 0.516141) 0%, #b4b4b4 34%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5d5750", endColorstr="#b4b4b4", GradientType=1);
}

.desk {
  position: fixed;
  bottom: 0;
  background: #7c4d31;
  width: 102vw;
  height: 130px;
  -webkit-clip-path: polygon(90% 0, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(90% 0, 100% 100%, 0 100%, 0 0);
  -webkit-box-shadow: inset -20px -2px 20px 15px #0000002e;
          box-shadow: inset -20px -2px 20px 15px #0000002e;
  background: #221f1f;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(70%, #221f1f), to(rgba(110, 110, 110, 0.616982)));
  background: linear-gradient(0deg, #221f1f 70%, rgba(110, 110, 110, 0.616982) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#221f1f", endColorstr="#6e6e6e", GradientType=1);
}

.desk--bottom {
  width: 100%;
  height: 20px;
  bottom: 0;
  -webkit-box-shadow: inset 4px 6px 9px 0px #00000096;
          box-shadow: inset 4px 6px 9px 0px #00000096;
}

.pc {
  position: absolute;
  background: black;
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, black), to(#2e2e2e));
  background: linear-gradient(90deg, black 70%, #2e2e2e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#2e2e2e", GradientType=1);
  width: 400px;
  height: 230px;
  left: 28vw;
  bottom: 129px;
  z-index: 1;
  -webkit-box-shadow: 10px -7px 4px 0px #00000038;
          box-shadow: 10px -7px 4px 0px #00000038;
  border-radius: 4px;
}

.pc--screen {
  position: absolute;
  background-color: white;
  width: 380px;
  height: 210px;
  -webkit-transform: translate(10px, 10px);
          transform: translate(10px, 10px);
  -webkit-box-shadow: 0 0 6px 0px white;
          box-shadow: 0 0 6px 0px white;
}

.pc--stand {
  position: absolute;
  background: inherit;
  width: 30px;
  height: 70px;
  -webkit-transform: translate(187px, 229px);
          transform: translate(187px, 229px);
  -webkit-box-shadow: 10px -7px 4px 0px #00000038;
          box-shadow: 10px -7px 4px 0px #00000038;
}

.pc--stand::after {
  background: inherit;
  width: 138px;
  height: 100px;
  bottom: -59px;
  left: -56px;
  border-radius: 4px 4px 2px 2px;
  -webkit-clip-path: ellipse(45% 22% at 50% 44%);
          clip-path: ellipse(45% 22% at 50% 44%);
}

.pc--stand::before {
  background: black;
  width: 138px;
  height: 87px;
  bottom: -59px;
  left: -56px;
  border-radius: 4px 4px 2px 2px;
  -webkit-clip-path: ellipse(45% 22% at 50% 44%);
  clip-path: ellipse(45% 24% at 50% 41%);
}

.calendar {
  position: absolute;
  background: white;
  width: 180px;
  height: 360px;
  left: 150px;
  top: calc(100vh - 520px);
}

.calendar__item {
  position: absolute;
}

.calendar__item--top {
  width: 180px;
  height: 180px;
  background: url("../img/waves.jpg");
  background-size: cover;
}

.calendar__item--bottom {
  width: 180px;
  height: 180px;
  bottom: 0;
  background: inherit;
}

.month {
  position: absolute;
  right: 0;
  padding: 10px;
  font-size: 10px;
}

.photos__item {
  position: absolute;
  background: white;
  width: 68px;
  height: 75px;
}

.photos__item .image {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 4px;
  top: 3px;
}

.photos .photo-1 {
  right: 380px;
  top: 30px;
}

.photos .photo-1 .image {
  background: url("/img/eiffel.jpg");
  background-size: cover;
}

.photos .photo-1::after {
  content: "Paris";
}

.photos .photo-2 {
  right: 470px;
  top: 40px;
}

.photos .photo-2 .image {
  background: url("/img/alley.jpg");
  background-size: cover;
}

.photos .photo-2::after {
  content: "Morocco";
}

.photos .photo-3 {
  right: 290px;
  top: 54px;
}

.photos .photo-3 .image {
  background: url("/img/sea.jpg");
  background-size: cover;
}

.photos .photo-3::after {
  content: "Magic";
}

.hub {
  position: absolute;
  background: green;
  width: 200px;
  height: 100px;
  top: calc(100vh - 140px);
  left: 140px;
}

.bg::before, .desk--bottom, .pc--stand::after, .pc--stand::before {
  content: "";
  position: absolute;
}

.photos .photo-1::after, .photos .photo-2::after, .photos .photo-3::after {
  position: absolute;
  bottom: -1px;
  font-family: 'Gochi Hand', cursive;
  font-size: 0.8em;
  text-align: center;
  width: 100%;
  color: #82aeff;
}
/*# sourceMappingURL=main.css.map */